.footer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--backgroundFooter);
    padding: 30px;
    .newsletterSection {
        background-color: var( --background);
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        span {
            font-size: .6rem;
            color: var(--textLegend);
        }
        p {
            width: 60%;
            text-align: center;
            font-size: .8rem;
            color: var(--textDefinition);
        }
        .inputSection {
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: center;
            gap:5px;
            width: 100%;
            

            input {
                background-color: var(--backgroundInput);
                border: none;
                padding: 10px;
                width: 340px;
                height: 25px;
                border-radius: 5px;
                color: var(--inputPlaceholder);
            }
            button {
                font-size: 0.8rem;
            }
        }

    }
    .linksSection {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        padding: 0;
        .linksContent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            padding: 0;
             .link {
                text-decoration: none;
                color: #000;
                transition: color 0.3s ease;
                list-style: none;
                padding: 0;
                a {
                    text-decoration: none;
                    color: #000;
                    transition: color 0.3s ease;
                    font-size: 0.8rem;
                }
            }
        }
       
    }

    .copyright {
        text-align: right;
        color: #000;
        margin: auto 0;
        font-size: 0.6rem;
    }
 
}

